<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
 
</head>
<body>
    <h1 style="text-align:center;margin:0px;padding: 10px;background-color: brown;color: white;">Footer file</h1>
</body>
</html>